body {
	margin: 0;
	color: #000; /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
	min-width: 800px;
	background: #fff url("../img/body-bg.png") repeat-x;

	font: px georgia, serif;
	font: px "times new roman", times, serif;
	font: px arial, helvetica, sans-serif;
	font: px tahoma, geneva, sans-serif;
	font: px "trebuchet ms", helvetica, sans-serif;
	font: px verdana, geneva, sans-serif;
	font: px "ms serif", "new york", serif;
	font: px "arial black", gadget, sans-serif;
	font: px "lucida sans", unicode, "lucida grande", sans-serif;
}
/* General reset */